@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;800&display=swap");
body {
  display: flex;
  flex-direction: column;
  background-color: black;
}

* {
  color: white;
  margin: 0px;
  padding: 0px;
  font-family: "Inter", sans-serif;
}

a {
  font-size: 16px;
}

.title {
  font-size: 30px;
  font-weight: 800;
  letter-spacing: 5px;

  height: 60%;
  display: flex;
  align-items: center;
}
